.room__type-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.column-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column-price,
.column-tax {
  text-align: right;
}