<mat-toolbar color="primary" class="mat-elevation-z8">
  @if (isLogging) {
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  }
  <button mat-button [routerLink]="['/']">Inicio</button>
  <span class="spacer"></span>
  @if (isLogging) {
  <button mat-button (click)="logout()">Cerrar sesión</button>
  } @else {
  <button mat-button [routerLink]="['/admin/login']">Iniciar sesión</button>
  }
</mat-toolbar>

<mat-drawer-container class="drawer-container" [hasBackdrop]="false">
  <mat-drawer #drawer class="drawer-sidenav" mode="over">
    <mat-list role="list">
      @if (isLogging) {
      <div mat-subheader>
        <strong>Administración</strong>
      </div>
      <mat-list-item
        role="listitem"
        [routerLink]="['/admin/cities']"
        routerLinkActive="active-list-item"
        (click)="navigate('/admin/cities', drawer)"
      >
        <mat-icon matListItemIcon>location_city</mat-icon>
        <div matListItemTitle>Ciudades</div>
      </mat-list-item>
      <mat-list-item
        role="listitem"
        [routerLink]="['/admin/document-types']"
        routerLinkActive="active-list-item"
        (click)="navigate('/admin/document-types', drawer)"
      >
        <mat-icon matListItemIcon>perm_identity</mat-icon>
        <div matListItemTitle>Tipos de documentos</div>
      </mat-list-item>
      <mat-list-item
        role="listitem"
        [routerLink]="['/admin/genders']"
        routerLinkActive="active-list-item"
        (click)="navigate('/admin/genders', drawer)"
      >
        <mat-icon matListItemIcon>male</mat-icon>
        <div matListItemTitle>Géneros</div>
      </mat-list-item>

      <mat-divider class="my-2"></mat-divider>

      <mat-list-item
        role="listitem"
        [routerLink]="['/admin/hotels']"
        routerLinkActive="active-list-item"
        (click)="navigate('/admin/hotels', drawer)"
      >
        <mat-icon matListItemIcon>apartment</mat-icon>
        <div matListItemTitle>Hoteles</div>
      </mat-list-item>
      <mat-list-item
        role="listitem"
        [routerLink]="['/admin/bookings']"
        routerLinkActive="active-list-item"
        (click)="navigate('/admin/bookings', drawer)"
      >
        <mat-icon matListItemIcon>book_online</mat-icon>
        <div matListItemTitle>Reservas</div>
      </mat-list-item>
      <mat-list-item
        role="listitem"
        [routerLink]="['/admin/room-types']"
        routerLinkActive="active-list-item"
        (click)="navigate('/admin/room-types', drawer)"
      >
        <mat-icon matListItemIcon>room_preferences</mat-icon>
        <div matListItemTitle>Tipos de habitaciones</div>
      </mat-list-item>
      }
    </mat-list>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <mat-divider inset vertical class="my-3"></mat-divider>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <router-outlet />
        </div>
      </div>
      <div class="footer-container">
        <div class="row">
          <div class="col-12">
            <mat-divider></mat-divider>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3>SITIO WEB PARA VIAJEROS 2024</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
