<form [formGroup]="form" (ngSubmit)="onSumbit()" class="login-form">
  <mat-form-field appearance="outline" class="login-email">
    <mat-label>Correo electrónico</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Correo electrónico" />
    @if (form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')) {
      <mat-error>Por favor ingrese una dirección de correo valida</mat-error>
    }
    @if (form.controls['email'].hasError('required')) {
      <mat-error>El correo electrónico es <strong>requerido</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="login-password">
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput formControlName="password" placeholder="Contraseña" />
    @if (form.controls['password'].hasError('required')) {
      <mat-error>La contraseña es <strong>requerida</strong></mat-error>
    }
  </mat-form-field>

  <div class="form-actions">
    <button mat-stroked-button color="primary">Iniciar sesión</button>
  </div>
</form>
